<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alpine.js Components</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.15.0/dist/cdn.min.js"
    ></script>
    <style>
      [x-cloak] {
        display: none;
      }
      .progress {
        animation: progress;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
      }
      @keyframes progress {
        0% {
          width: 0%;
        }
        80% {
          opacity: 1;
        }
        100% {
          opacity: 0.5;
          width: 100%;
        }
      }
    </style>
  </head>
  <body class="bg-gray-100 p-8">
    <!--dropdown-->
    <div x-data="{open: false}">
      <button
        @click="open = !open"
        class="py-2 px-3 bg-red-400 hover:bg-opacity-95 text-white rounded-md shadow flex justify-items-center items-center relative"
      >
        Toggle
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-4 ml-2 transition-all"
          :class="{'rotate-90': open}"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m8.25 4.5 7.5 7.5-7.5 7.5"
          />
        </svg>
      </button>

      <ul
        x-show="open"
        x-cloak
        @click.outside="open = false"
        x-transition.duration.300ms
        class="bg-white w-[160px] shadow-md py-1 absolute rounded-sm mt-1"
      >
        <li>
          <a
            class="py-1 px-2 hover:bg-gray-200 flex items-center gap-2"
            href="#"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5 inline"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
              />
            </svg>
            Open</a
          >
        </li>
        <li>
          <a
            class="py-1 px-2 hover:bg-gray-200 flex items-center gap-2"
            href="#"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5 inline"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
              />
            </svg>
            Edit</a
          >
        </li>
        <li>
          <a
            class="py-1 px-2 hover:bg-gray-200 flex items-center gap-2"
            href="#"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5 inline"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
              />
            </svg>
            Delete</a
          >
        </li>
      </ul>
    </div>

    <!--modal-->
    <div
      x-data="{
        open: false, 
        submit(){
            this.open = false
            console.log('submitted')
    }
    }"
      class="py-20"
    >
      <button
        @click="open = true"
        class="inline-flex items-center py-2 px-4 bg-red-400 hover:bg-opacity-95 text-white rounded-md shadow"
      >
        Toggle Modal
      </button>
      <template x-teleport="body">
        <!--backdrop-->
        <div
          x-show="open"
          x-cloak
          class="bg-black/50 fixed flex justify-center items-center left-0 right-0 top-0 bottom-0 z-10"
        >
          <!--dialog-->
          <div
            x-show="open"
            x-transition.duration.300ms
            @click.outside="open = false"
            class="w-[80%] md:w-1/2 bg-white rounded-lg"
          >
            <!--title-->
            <div
              class="py-2 pl-4 pr-0 text-lg flex justify-between items-center font-semibold bg-gray-100 rounded-t-lg"
            >
              <h2>Modal Title</h2>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-3 cursor-pointer mb-3 mr-2 text-gray-500"
                @click="open = false"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18 18 6M6 6l12 12"
                />
              </svg>
            </div>
            <!--body-->
            <div class="p-4">Modal Content</div>
            <!--footer-->
            <div
              class="flex justify-end items-center gap-1 py-2 px-4 font-semibold bg-gray-100 rounded-b-lg"
            >
              <button
                @click="submit"
                class="inline-flex items-center py-1 px-3 bg-blue-500 hover:bg-opacity-95 text-white rounded-md shadow text-[0.5rem]"
              >
                Submit
              </button>
              <button
                @click="open = false"
                class="inline-flex items-center py-1 px-3 bg-gray-400 hover:bg-opacity-95 text-white rounded-md shadow text-[0.5rem]"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </template>
    </div>

    <!--tabs-->
    <div x-data="tabsComponent">
      <div class="flex">
        <template x-for="tab in Object.keys(tabs)" :key="tab">
          <a
            @click="activeTab = tab"
            x-text="tab"
            class="py-1 px-3 cursor-pointer text-xs"
            :class="{'bg-white' : activeTab == tab, 'text-blue-500' : activeTab == tab, 'rounded-t-md' : activeTab == tab, 'border-x-[1px]' : activeTab == tab,  'border-t-[1px]' : activeTab == tab,'border-gray-300' : activeTab == tab }"
          ></a>
        </template>
      </div>
      <!--content-->
      <div
        class="rounded-b-md rounded-tr-md bg-white border-[1px] border-gray-300 pl-6 py-4 pr-10 mt-[-1px]"
      >
        <template x-for="[tab,body] in Object.entries(tabs)">
          <div>
            <div
              x-show="activeTab == tab ? true : false"
              x-cloak
              x-text="tab"
            ></div>
            <p
              x-show="activeTab == tab ? true : false"
              x-cloak
              x-text="body"
              class="text-gray-500 text-[0.7rem]"
            ></p>
          </div>
        </template>
      </div>
    </div>

    <!--carousel-->
    <div
      x-data="{
        imagesBaseLink : 'https://picsum.photos', 
        activeImage : 1,
        numberOfImages : 5,
        slide(i, indicator = false){
            if(indicator){
                this.activeImage = i
                return
            }
            let nextImage = this.activeImage + i
            this.activeImage = nextImage <= 0 ? this.numberOfImages : (nextImage > this.numberOfImages ? 1 : nextImage)
        },
        getRandomIntInclusive(min, max) {
            min = Math.ceil(min);
            max = Math.floor(max);
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }
        
    }"
      class="py-20"
    >
      <div class="relative w-full">
        <!-- Carousel wrapper -->
        <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
          <!-- Items -->
          <template x-for="i in numberOfImages">
            <div x-show="activeImage == i" x-cloak="">
              <img
                :src="imagesBaseLink+'/id/'+getRandomIntInclusive(1,200)+'/800/400'"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 object-cover"
                alt="..."
              />
            </div>
          </template>
        </div>
        <!-- Slider indicators -->
        <div
          class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse"
        >
          <template x-for="i in numberOfImages">
            <button
              type="button"
              class="w-2 h-2 rounded-full bg-gray-400"
              :class="{'bg-gray-800': activeImage == i}"
              @click="slide(i, true)"
            ></button>
          </template>
        </div>

        <!-- Slider controls -->
        <button
          type="button"
          class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
          data-carousel-prev
        >
          <span
            @click="slide(-1)"
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
          >
            <svg
              class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 1 1 5l4 4"
              />
            </svg>
            <span class="sr-only">Previous</span>
          </span>
        </button>
        <button
          type="button"
          class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
          data-carousel-next
        >
          <span
            @click="slide(1)"
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
          >
            <svg
              class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 9 4-4-4-4"
              />
            </svg>
            <span class="sr-only">Next</span>
          </span>
        </button>
      </div>
    </div>

    <!--accordion-->
    <div x-data="accordionComponent">
      <div class="bg-gray-50 py-5">
        <template x-for="[topic, body] in Object.entries(accordions)">
          <div class="px-5 pb-2">
            <div
              class="flex justify-between items-center cursor-pointer"
              @click="activeAccordion != topic ? activeAccordion = topic : activeAccordion = null"
            >
              <h4
                x-text="topic"
                class="font-semibold text-xs text-gray-800"
              ></h4>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-2 ml-2 transition-all text-gray-500"
                :class="{'rotate-180': activeAccordion == topic}"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m19.5 8.25-7.5 7.5-7.5-7.5"
                />
              </svg>
            </div>

            <p
              x-show="topic == activeAccordion"
              x-cloak
              x-text="body"
              x-transition:enter="transition transform duration-200 ease-in"
              x-transition:enter-start="translate-y-half opacity-0"
              x-transition:enter-end="translate-y-0 opacity-100"
              x-transition:leave="transition transform duration-100 ease-out"
              x-transition:leave-start="translate-y-0 opacity-100"
              x-transition:leave-end="translate-y-half opacity-0"
              class="text-[0.6rem] text-gray-400 pt-2 pr-5"
            ></p>
            <div class="w-[99%] h-2 border-b-[1px] border-gray-200"></div>
          </div>
        </template>
      </div>
    </div>

    <!--notification-->
    <div x-data="notificationComponent" class="py-20">
      <div class="w-[60%] m-auto bg-gray-50 rounded-md p-5">
        <!--message-->
        <div class="p-3 text-[0.6rem]">
          <p class="text-xs pb-2">Message</p>
          <input
            class="rounded-md font-normal px-2 py-[2px] border-[1px] border-gray-200 w-[80%] focus:outline outline-blue-600"
            type="text"
            x-model="message"
            @keyup.enter="$dispatch('notify', {type: selectedType, message: {title : selectedType, body : message}, duration: 2000})"
          />
        </div>

        <!--type-->
        <div class="p-3">
          <p class="text-xs pb-2">Type</p>
          <div @click.outside="openTypeDropdown = false" class="text-[0.6rem]">
            <button
              @click="openTypeDropdown = !openTypeDropdown"
              class="py-1 px-2 bg-white border-[1px] border-gray-200 w-[80%] rounded-md flex justify-between items-center relative"
            >
              <span x-text="selectedType"> </span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-2 ml-2 transition-all"
                :class="{'rotate-90': openTypeDropdown}"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m8.25 4.5 7.5 7.5-7.5 7.5"
                />
              </svg>
            </button>

            <ul
              x-show="openTypeDropdown"
              x-cloak
              x-transition.duration.300ms
              class="bg-white w-[35%] shadow-md py-1 absolute rounded-sm mt-1"
            >
              <template x-for="type in types">
                <li
                  class="py-1 px-2 hover:bg-gray-200 cursor-pointer w-full"
                  :class="{'bg-gray-200': selectedType == type}"
                  x-text="type"
                  @click="selectedType = type; openTypeDropdown = false"
                ></li>
              </template>
            </ul>
          </div>
        </div>
        <!--dispatch-->
        <div class="p-3">
          <button
            @click="$dispatch('notify', {type: selectedType, message: {title : selectedType, body : message}, duration: 2000})"
            class="px-3 py-1 text-[0.6rem] border-[1px] border-gray-200 rounded-md bg-white text-gray-600"
          >
            Dispatch Notification
          </button>
        </div>
      </div>
    </div>

    <!--notifications handler-->
    <div
      x-data="notificationHandler"
      class="fixed inset-0 flex flex-col-reverse items-end justify-end h-screen w-screen"
      @notify.window="add($event.detail)"
      style="pointer-events: none"
    >
      <template x-for="notification of notifications" :key="notification.id">
        <div
          x-show="visible.includes(notification)"
          x-transition:enter="transition ease-in duration-300"
          x-transition:enter-start="transform opacity-0 -translate-y-2"
          x-transition:enter-end="transform opacity-100"
          x-transition:leave="transition ease-out duration-500"
          x-transition:leave-start="transform translate-x-0 opacity-100"
          x-transition:leave-end="transform translate-x-full opacity-0"
          @click="remove(notification.id)"
          style="pointer-events: all"
        >
          <div
            class="relative flex items-center justify-start mt-4 mr-6 w-60 h-auto text-white shadow font-bold cursor-pointer"
            :class="getBgColor(notification.type, 500)"
          >
            <!--message-->
            <div>
              <!--title-->
              <div
                class="p-1 px-2 text-[0.8rem] w-full flex items-center gap-1"
              >
                <span
                  x-html="getNotificationTypeIcon(notification.type)"
                ></span>
                <span x-text="notification.message.title"></span>
              </div>

              <!--body-->
              <div
                class="pb-2 px-2 text-[0.6rem]"
                x-text="notification.message.body"
              ></div>
            </div>
            <div
              x-cloak
              :class="getBgColor(notification.type, 300)"
              class="absolute bottom-0 left-0 right-0 w-full"
            >
              <div
                class="h-1 w-0 progress"
                :class="getBgColor(notification.type, 400)"
                :style="`animation-duration:${notification.duration}ms`"
              ></div>
            </div>
          </div>
        </div>
      </template>
    </div>

    <!--radio groups-->
    <div
      x-data="{
        radios : [
            {
                name : 'PHP',
                description : 'Assumenda suscipit et.'
            },
            {
                name : 'Golang',
                description : 'Omnis dignissimos iusto ut.'
            },
             {
                name : 'NodeJs',
                description : 'Consequatur placeat tenetur.'
            }
        ],
        activeRadio : null
    }"
    >
      <div class="flex gap-1 justify-center items-center w-[80%] m-auto">
        <template x-for="radio in radios" :key="radio.name">
          <div
            class="bg-white hover:bg-gray-100 border-[1px] border-gray-300 p-2 rounded-md cursor-pointer"
            @click="activeRadio = radio.name"
            :class="{'border-gray-500' : activeRadio == radio.name}"
          >
            <div class="text-xs flex justify-between items-center">
              <label
                :for="radio.name"
                x-text="radio.name"
                class="font-semibold cursor-pointer"
              ></label>
              <input
                type="radio"
                id="radio.name"
                name="programming-language"
                value="radio.name"
                :class="{'accent-gray-600' : true}"
                x-bind:checked="activeRadio == radio.name ? true : false"
              />
            </div>
            <span
              class="text-[0.6rem] text-gray-400"
              x-text="radio.description"
            ></span>
          </div>
        </template>
      </div>
    </div>

    <script src="./app.js"></script>
  </body>
</html>
